examples/enetio-2-ah.json
[
    {
        "id": "58d40ff5c6bb6bc9",
        "type": "subflow",
        "name": "mkc-mqtt-device-2-label",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "381294ff3be34e81"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "381294ff3be34e81",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "381294ff3be34e81",
        "type": "function",
        "z": "58d40ff5c6bb6bc9",
        "name": "",
        "func": "let color = \"red\";\nlet state = msg.device[\"$state\"];\nif( state === \"ready\")\n{\n    color=\"green\";\n}\nelse if( state === \"init\")\n{\n    color = \"yellow\";\n}\nnode.status({fill:color,shape:\"dot\",text:state});\n\nlet myPayload = '<i class=\"fa fa-wifi nr-dashboard-error\"></i>';\nif (msg.payload === true)\n{\n    myPayload = '<i class=\"fa fa-wifi nr-dashboard-ok\"></i>';\n} \n\nmsg = { \"topic\":msg.device[\"$name\"], \"payload\":myPayload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "82de80fd0cc462b1",
        "type": "subflow",
        "name": "mkc-mqtt-in-2-label",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "1edfb1c2898508ea"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "1edfb1c2898508ea",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1edfb1c2898508ea",
        "type": "function",
        "z": "82de80fd0cc462b1",
        "name": "",
        "func": "if( msg.node && msg.property)\n{\n    let myTopic = msg.node[\"$name\"];\n    \n    let myPayload = myTopic;\n    if( msg.property[\"$unit\"].length > 0)\n    {\n        if(msg.property[\"$unit\"] === \"Celsius\")\n        {\n            msg.property[\"$unit\"] = \"&degC\";\n        }\n        myPayload += \"&nbsp;[\" + msg.property[\"$unit\"] + \"]\";\n    }\n    myPayload += \"</br>\"+msg.property[\"$name\"];\n    \n    let myEnable = msg.payload;\n\n    msg = {\"topic\":myTopic, \"payload\":myPayload, \"enabled\":myEnable};\n}\nelse\n{\n    msg = null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2ac504d8e06dac96",
        "type": "mkc-mqtt-in",
        "z": "04ba9ed1796f0fa2",
        "mkcHomie": "5623e0c66f7c7aed",
        "nodeID": "0",
        "propertyID": "pin",
        "name": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "b0291bb27db7bfd2"
            ],
            [
                "176ac9ba42d8e7aa"
            ]
        ]
    },
    {
        "id": "bf321e7ffbcdd539",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 2,
        "width": "3",
        "height": 1,
        "name": "Entry0",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "b0291bb27db7bfd2",
        "type": "subflow:82de80fd0cc462b1",
        "z": "04ba9ed1796f0fa2",
        "name": "",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "bf321e7ffbcdd539"
            ]
        ]
    },
    {
        "id": "57fccbf7569e0bfa",
        "type": "mkc-mqtt-in",
        "z": "04ba9ed1796f0fa2",
        "mkcHomie": "5623e0c66f7c7aed",
        "nodeID": "1",
        "propertyID": "pin",
        "name": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "e61187cf6015fbcb"
            ],
            [
                "b6318ecb2775457e"
            ]
        ]
    },
    {
        "id": "5abea1fb458e1dd1",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 4,
        "width": "3",
        "height": 1,
        "name": "Entry1",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "e61187cf6015fbcb",
        "type": "subflow:82de80fd0cc462b1",
        "z": "04ba9ed1796f0fa2",
        "name": "",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "5abea1fb458e1dd1"
            ]
        ]
    },
    {
        "id": "006d366683026985",
        "type": "mkc-mqtt-in",
        "z": "04ba9ed1796f0fa2",
        "mkcHomie": "5623e0c66f7c7aed",
        "nodeID": "2",
        "propertyID": "pin",
        "name": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "f212a4a35fa43c64"
            ],
            [
                "11f9bc7691a9bb63"
            ]
        ]
    },
    {
        "id": "541061d88d77425e",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 6,
        "width": "3",
        "height": 1,
        "name": "Entry2",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "f212a4a35fa43c64",
        "type": "subflow:82de80fd0cc462b1",
        "z": "04ba9ed1796f0fa2",
        "name": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "541061d88d77425e"
            ]
        ]
    },
    {
        "id": "31f75c5e915c7284",
        "type": "mkc-mqtt-device",
        "z": "04ba9ed1796f0fa2",
        "mkcHomie": "5623e0c66f7c7aed",
        "name": "",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "c2279266341e4146"
            ]
        ]
    },
    {
        "id": "0e9f5ac108036d2e",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "State",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "c2279266341e4146",
        "type": "subflow:58d40ff5c6bb6bc9",
        "z": "04ba9ed1796f0fa2",
        "name": "",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "0e9f5ac108036d2e"
            ]
        ]
    },
    {
        "id": "8e457520e97d27af",
        "type": "mkc-mqtt-in",
        "z": "04ba9ed1796f0fa2",
        "mkcHomie": "5623e0c66f7c7aed",
        "nodeID": "3",
        "propertyID": "pin",
        "name": "",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "5e4784d933cadd8c"
            ],
            [
                "9b981a7f94de7f0f"
            ]
        ]
    },
    {
        "id": "a0eeea487ed4660a",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 8,
        "width": "3",
        "height": 1,
        "name": "Entry3",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "5e4784d933cadd8c",
        "type": "subflow:82de80fd0cc462b1",
        "z": "04ba9ed1796f0fa2",
        "name": "",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "a0eeea487ed4660a"
            ]
        ]
    },
    {
        "id": "c7ad8598b37c977b",
        "type": "mkc-mqtt-in",
        "z": "04ba9ed1796f0fa2",
        "mkcHomie": "5623e0c66f7c7aed",
        "nodeID": "4",
        "propertyID": "pin",
        "name": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "f62c69a78b1bb0c0"
            ],
            [
                "cafb130eabe66482"
            ]
        ]
    },
    {
        "id": "a6b0b4c48c5e3631",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 10,
        "width": 4,
        "height": 1,
        "name": "DI0",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 510,
        "y": 540,
        "wires": []
    },
    {
        "id": "f62c69a78b1bb0c0",
        "type": "subflow:82de80fd0cc462b1",
        "z": "04ba9ed1796f0fa2",
        "name": "",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "a6b0b4c48c5e3631"
            ]
        ]
    },
    {
        "id": "176ac9ba42d8e7aa",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 3,
        "width": "2",
        "height": 1,
        "name": "Entry0",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 270,
        "y": 180,
        "wires": []
    },
    {
        "id": "b6318ecb2775457e",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 5,
        "width": "2",
        "height": 1,
        "name": "Entry1",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 270,
        "y": 280,
        "wires": []
    },
    {
        "id": "11f9bc7691a9bb63",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 7,
        "width": "2",
        "height": 1,
        "name": "Entry2",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 270,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b981a7f94de7f0f",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 9,
        "width": "2",
        "height": 1,
        "name": "Entry3",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "x": 270,
        "y": 480,
        "wires": []
    },
    {
        "id": "cafb130eabe66482",
        "type": "ui_switch",
        "z": "04ba9ed1796f0fa2",
        "name": "DI0",
        "label": "",
        "tooltip": "",
        "group": "e4e5bf77134f5d78",
        "order": 11,
        "width": 1,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 270,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3aca04acdb42303d",
        "type": "mkc-mqtt-in",
        "z": "04ba9ed1796f0fa2",
        "mkcHomie": "5623e0c66f7c7aed",
        "nodeID": "5",
        "propertyID": "pin",
        "name": "",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "c98c8e7fc2241015"
            ],
            [
                "19dec98108107032"
            ]
        ]
    },
    {
        "id": "9a31038fb59e2cc3",
        "type": "ui_text",
        "z": "04ba9ed1796f0fa2",
        "group": "e4e5bf77134f5d78",
        "order": 12,
        "width": 4,
        "height": 1,
        "name": "DO0",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "c98c8e7fc2241015",
        "type": "subflow:82de80fd0cc462b1",
        "z": "04ba9ed1796f0fa2",
        "name": "",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "9a31038fb59e2cc3"
            ]
        ]
    },
    {
        "id": "19dec98108107032",
        "type": "ui_switch",
        "z": "04ba9ed1796f0fa2",
        "name": "DO0",
        "label": "",
        "tooltip": "",
        "group": "e4e5bf77134f5d78",
        "order": 13,
        "width": 1,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "7abe2e8ef6a57d79"
            ]
        ]
    },
    {
        "id": "7abe2e8ef6a57d79",
        "type": "mkc-mqtt-out",
        "z": "04ba9ed1796f0fa2",
        "mkcHomie": "5623e0c66f7c7aed",
        "nodeID": "5",
        "propertyID": "pin",
        "name": "",
        "x": 490,
        "y": 680,
        "wires": []
    },
    {
        "id": "5623e0c66f7c7aed",
        "type": "mkc-mqtt-config",
        "broker": "415b82796628999a",
        "rootID": "mkc",
        "deviceID": "enetio-ffffff",
        "name": ""
    },
    {
        "id": "e4e5bf77134f5d78",
        "type": "ui_group",
        "name": "enetio-2-ah",
        "tab": "ddfb544caa18bea9",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "415b82796628999a",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "localhost",
        "port": "49883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ddfb544caa18bea9",
        "type": "ui_tab",
        "name": "eNetIO-2-ah",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]